.backdrop {
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        .modal {
            opacity: 0;
            transform: translate(-50%, -50%) scale(1.5);
        }
    }
}

.modal {
@media screen and (max-width: 479px) {
        width: calc(100vw - 30px);
    }
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 12%), 0px 1px 1px rgba(0, 0, 0, 14%), 0px 2px 1px rgba(0, 0, 0, 20%);
    border-radius: 4px;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms ease-in-out 250ms, opacity 250ms ease-in-out 250ms;
    padding: 40px;
    
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    color: #000000;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.btn-close {
    fill: currentColor;
}

.button--icon {

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

.send-btn {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    letter-spacing: 0.06em;
    border: none;

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}