.logo {
    margin-right: 93px;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    @media screen and (max-width: 767.98px) {
        padding: 16px 0;
        margin-right: 88px;
}
}
.accent--logo {

    color: #2196F3;
}
 .footer__logo {
     color: white;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 26px;
     line-height: 31px;
     letter-spacing: 0.03em;
     text-decoration: none;
     display: block;
     margin-bottom: 20px;
    @media screen and (max-width: 767.98px) {
            padding: 0 0 20px 0;
            margin: 0;
        }

 }

 .logo--white {

     color: #2196F3;
 }