.icon-kom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.kom-ic {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.komand-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: rgba(33, 150, 243, 1);
    }
}

.icon-komanda {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.komand-a {

    &:hover .icon-komanda,
    &:focus .icon-komanda {
        fill: #FFFFFF;
    }
}
.social__container {
    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }
                @media screen and (min-width: 767.98px) and (max-width: 1199px) {
            margin: auto;
            margin-top: 0;
        }
                 @media screen and (min-width: 1200px) {
margin-left: 70px;
                 }
}
.social__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.social {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196F3;
        animation-duration: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .social__icon,
    &:focus .social__icon {
        fill: #FFFFFF;
    }
}

.social__item {
    width: 44px;
    height: 44px;
    fill: currentColor;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social__icon {
    fill: white;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}