.header__container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
    width: 480px;
    }
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header__list {
    @media screen and (min-width: 480px) {
            display: none;
        }
    margin-left: auto;
    display: flex;
    padding-left: 0;
    align-items: center;
}

.header__items {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.header__icon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    fill: currentColor;
}

.navigation__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;

    .navigation__item:not(:last-child) {
        margin-right: 50px;
    }
}

.navigation__item {
    position: relative;
}

.navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    color: inherit;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
        display: none;
    }

    &:focus,
    &:hover {
        color: #2196F3;
    }
}

.navigation__link--current {
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196F3;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196F3;
    }

    color: #2196F3;
    position: relative;
}

.navigation__link {

    &:focus,
    &:hover {
        color: #2196F3;
    }

    &:focus,
    &:hover {
        color: #2196F3;
        animation-duration: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.header__contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}