.komanda {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
    @media screen and (max-width: 767.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.container-komanda {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.rebyata {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 767.98px) {
        display: block;
    }
}

.nasha {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.tm1,
.tm2,
.tm3 {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
}
.tm4 {
    background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        @media screen and (max-width: 767px) {
                margin-bottom: 0;
            }
}

.tm1-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.tm-p {
    line-height: 19px;
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.n-tag {
    padding-top: 30px;
    padding-bottom: 30px;
}