 .work.section {
 @media screen and (max-width: 767.98px) {
    display: none;
 }
 }
.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: #212121;
}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.work__item {
    margin-right: 30px;
    position: relative;

    &:last-child {
        margin-right: 0;
    }
}

.work__text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}